---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opentelemetry-demo-otelcol
  labels:
    app.kubernetes.io/name: opentelemetry-demo-otelcol
    app.kubernetes.io/component: otel-collector
    app.kubernetes.io/part-of: opentelemetry-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: opentelemetry-demo-otelcol
  template:
    metadata:
      labels:
        app.kubernetes.io/name: opentelemetry-demo-otelcol
        app.kubernetes.io/component: otel-collector
    spec:
      containers:
        - name: otelcol
          image: otel/opentelemetry-collector:0.85.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4317 # OTLP gRPC
            - containerPort: 55681 # OTLP HTTP (optional)
          args:
            - "--config=/etc/otel/config.yaml"
          volumeMounts:
            - name: otel-config
              mountPath: /etc/otel/
      volumes:
        - name: otel-config
          configMap:
            name: otel-config
---
apiVersion: v1
kind: Service
metadata:
  name: opentelemetry-demo-otelcol
  labels:
    app.kubernetes.io/name: opentelemetry-demo-otelcol
spec:
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
  selector:
    app.kubernetes.io/name: opentelemetry-demo-otelcol
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-config
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    processors:
      batch:
    exporters:
      logging:
        loglevel: debug
    service:
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [logging]

